body{
    margin: 0;
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
}

.wrap {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1300px;
}

.right {
    float: right;
}

.left {
    float: left;
}

nav{
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 2px #eee;
    font-size: 0;
}

#logo img, nav .material-icons {
    height: 24px;
    margin: 0 10px;
}

#search {
    display: flex;
    flex-direction: row;
    max-width: 640px;
    margin: 0 auto;
    padding: 0;
    border: 0;
    background: transparent;
}

#search input[type="search"] {
    box-sizing: border-box;
    width: 80%;
    margin: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-right: none;
    box-shadow: inset 0 1px 2px #ddd;
    padding: 2px 6px;
    border-radius: 2px 0 0 2px;
}

#search button {
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 0 2px 2px 0;
}

#search button .material-icons{
    color: #888;
}

/************** Main section *****************/

#content{
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
}

#main {
    width: 66%;
    float: left;
}

.video {
    max-width: 100%;
    background-color: red;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

#views {
    line-height: 28px;
    color: #888;
}

#views-icons {
    line-height: 28px;
    color: #888;
}

#views-icons i {
    font-size: 20px;
    margin-left: 15px;
}

#share {
    font-size: 16px;
}

aside {
    width: 32%;
    float: right;
}

aside a {
    overflow: hidden;
    display: block;
    clear: both;
    color: #000;
    text-decoration: none;
    margin-bottom: 10px;
}

aside h4 {
    margin-top: 0;
    margin-bottom: 10px;
}

aside p {
    color: #888;
    margin: 0;
}

aside img {
    width: 30%;
    margin-right: 10px;
}

#uploader {
    clear: both;
    padding-top: 40px;
    overflow: hidden;
}

#description {
    clear: both;
    font-size: 14px;
    padding: 20px 0;
}

#date {
    color: #888;
    font-size: 15px;
}

#uploader-name {
    margin: 0;
    font-weight: bold;
}

#sub-btn {
    background-color: red;
    color: white;
    padding: 10px 18px;
    font-weight: bold;
    border: none;
}

#sub-btn span {
    color: wheat;
}